<h3>Here happens all the Magic</h3>

<p>Doing nothing</p>
<RigListComponent></RigListComponent>

<p>Etherium</p>
<CoinContainer></CoinContainer>

<p>Bitcoin</p>
<CoinContainer></CoinContainer>

@code {

}
