<div class="shadow">
    <div class=" text-center bg-blue-100 rounded-t-lg">
        <div class="grid grid-cols-2 text-center">
            <div class="py-2">
                <h1>Kartice</h1>
            </div>
            <div class="py-2">
                <h1>Temp</h1>
            </div>
        </div>
        <div>
            <div class="py-2">
                <h1>Hashrate</h1>
                <p>25 MH/s</p>
            </div>
        </div>
        <div class="grid grid-cols-2">
            <div class="py-2">
                <h1>Vent speed %</h1>
            </div>
            <div class="py-2">
                <h1>Power %</h1>
            </div>
        </div>
    </div>
    <div class="flex bg-indigo-900 px-2 py-1 text-white items-center rounded-b-lg">
        <h1 class="flex-1">@name</h1>
        <button class="flex-initial bg-green-500 px-2 py-1 rounded-lg">lasagna</button>
    </div>
</div>

@code {
    [Parameter] public string name { get; set; }
}
